<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- Carpeta para archivo de logeo de errores (\logErrores.txt),  Agregar \ al principio del nombre de la capeta-->
    <add key="logFolder" value="\Doctos"/>
    
    
    <!-- Informacion de connecion SMTP -->
    <add key="MailInfoDefault" value="FALSE"/> <!-- FALSE para configuracion desde este archivo, otra cadena para default-->
    <add key="MailHostIP" value="txtec.uson.mx"/>
    <add key="MailFrom" value="administrador@STPS.com"/>
        <!--Llenar solo si MailAutenticar=TRUE-->
        <add key="MailAutenticar" value="FALSE"/>
        <add key="Mailuser" value="txtec@txtec.uson.mx"/>
        <add key="Mailpass" value=""/>
    <!--  Selección de librerías para compatibilidad
          Si TRUE: usa librerías ".NET 1.0"
          Si FALSE: usa librerías ".NET 2.0" (default) -->
    <add key="LibreriasMailNet1" value="FALSE"/> 
    <!-- FIN Informacion de connecion SMTP -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
